body{
    margin: 0;
}
#header {
    background-color: blanchedalmond;
    width: 100%;
    height: 100px;
}
#main{
    background: beige;
    height: 300px;
    width: 70%;
    float: left;
}
#sidebar{
    background: aqua;
    height: 300px;
    width: 30%;
    float: left;
}
#footer{
    background: cadetblue;
    height: 100px;
    width: 100%;
    clear: both;
}